__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

# Environment folders
env/
venv/
/.venv/
*.egg-info/
pip-wheel-metadata/
build/
dist/

# IDE/editor directories
.idea/
.vscode/

# macOS
.DS_Store
**/.DS_Store

# Coverage and testing artifacts
.coverage
htmlcov/
.pytest_cache/

# Node modules (just in case)
node_modules/
